.home-background-imgs{
    background-color: #F5F5F5;
    padding: 60px 20px;

}



    .hover-btn-sary{
    background-color: #F40000;
    transition: .4s ease-in-out;
   }


    


.hover-btn-sary:hover{
    background-color:  black;
    transition: .4s ease-in-out;
    color:  white;
    }


    .drop-down-menu{
       display: flex;
       width: 85%;
       gap: 20px;
       align-items: center;
       /* flex-wrap: wrap; */
       justify-content: center;
    }

.search-wala-button {
    text-align: center;
    margin-top: 26px;
}

    @media screen and (max-width:1150px) {
        .search-wala-button {
            width: 60%;
        }
    }

    @media screen and (max-width:930px) {
        .search-wala-button ,.drop-home-wala select{
            width: 75%;
        }
    }
    

    @media screen and (max-width:1000px) {
        
    .drop-down-menu{
        display: flex;
        width: 100%;
        gap: 20px;
        align-items: center;
        justify-content: center;
     }
    }



    @media screen and (max-width:940px) {
        
        .drop-down-menu{
            display: flex;
            width: 100%;
            gap: 10px;
            align-items: center;
            justify-content: center;
         }


         .drop-down-menu select{
            width: 100%;
         }


        }


    @media screen and (max-width:715px) {
        .drop-down-menu{
            display: flex;
            width: 100%;
            gap: 10px;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
         }

         .search-wala-button ,.drop-home-wala select{
            width: 100%;
        }
    }

    @media screen and (max-width:655px) {
        .search-wala-button ,.drop-home-wala select{
            width: 100%;
        }
        .home-k-btn{
            width: 100%;
            padding:10px ;
            text-align: center;
        }
    }
